
@import "tailwindcss";
@import "./theme.css";
@import "tw-animate-css";

@plugin "@tailwindcss/typography";

@layer base {
    * {
        @apply border-border outline-ring/50;
    }

    body {
        @apply font-sans bg-background text-foreground;
    }
}

.container {
    max-width: 1400px;
}
